* {
    background-color: #E0E6F2;
}

img {
    height: auto;
    width: 500px;
    border: 2px solid #a28089;
}

h1 {
    background-color: #a28089;
    color: #fff685;
    font-family: 'Courier New', Courier, monospace;
    width: 505px;
    margin-bottom: 0px;
}

h2 {
    background-color: #ffb766;
    color: #657a00;
}

h3 {
    background-color: #beef00;
    color: #657a00;
}
 
.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.list {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-1 {
    border: 5px solid #f071db;
    display: inline-block;
    padding-top: -5px;
}