* {
    background-color: lightgray;
}

h1 {
    color: #e5eaf5;
    background-color: rgb(93, 95, 177);
    text-align: center;
}

a {
    font-size: 24px;
    border: 2px solid black;
    padding: 8px;
}

#tea-punch,
#chapati,
#pizza {
    font-family: 'Courier New', Courier, monospace;
    background-color: #edf756;
    vertical-align: auto;
}

.tea-punch-image {
    height: auto;
    width: 50px;
    margin: 10px;
    border: 2px solid blueviolet;
}

.container {
    display: inline-flex;
    align-items: center;
    margin-right: -50px;
    border: 2px solid orange;
    background-color: #DC143C;
    padding-left: 10px;
}


