* {
    background-color: lightgray;
}

h1 {
    color: #e5eaf5;
    background-color: rgb(93, 95, 177);
    text-align: center;
}

a {
    font-size: 24px;
    border: 2px solid black;
    padding: 8px;
    display: inline-block;
}

#tea-punch,
#chapati,
#pizza {
    font-family: 'Courier New', Courier, monospace;
    background-color: #edf756;
    vertical-align: auto;
}


